/*タブ切り替え全体のスタイル*/
.tabs {
    margin-top: 50px;
    padding-bottom: 40px;
    background-color: #f4dd64;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 800px;
    margin: 0 auto;}
  
  /*タブのスタイル*/
  .tab_item {
    width: calc(100%/3);
    height: 50px;
    border-bottom: 3px solid #f4dd64;
    background-color: #d9d9d9;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
  }
  .tab_item:hover {
    opacity: 0.75;
  }
  
  /*ラジオボタンを全て消す*/
  input[name="tab_item"] {
    display: none;
  }
  
  /*タブ切り替えの中身のスタイル*/
  .tab_content {
    display: none;
    padding: 40px 40px 0;
    clear: both;
    overflow: hidden;
  }
  
  
  /*選択されているタブのコンテンツのみを表示*/
  #all:checked ~ #all_content,
  #programming:checked ~ #programming_content,
  #design:checked ~ #design_content {
    display: block;
  }
  
  /*選択されているタブのスタイルを変える*/
  .tabs input:checked + .tab_item {
    background-color: #f4dd64;
    color: #eb4f32;
  }

  .picture img{
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width: 50px;       /* ※縦横を同値に */
    height: 50px;       /* ※縦横を同値に */
}


.rank img{
  width: 90px;       /* ※縦横を同値に */
  height: 80px;       /* ※縦横を同値に */
}



.rank_card {
    box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
    
    background: hsl(0 0% 100%);
    color: hsl(200 50% 20%);
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    place-items: center;
    text-align: center;
    height: 100px;
    padding: 3ch;
    border-radius: 2ch;
    border: 1px solid hsl(0 0% 83%);
  }




