.pagetitle{
    padding-top: 180px;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    padding-bottom: 50px;
    }
    
.pagetitle::after {
    content: '';
    display: block;
    width: 76px;
    height: 3px;
    background-color: #f4dd64;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    }

    .container{
        max-width: 960px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .QA_create {
    
        background-color: dodgerblue;
        border: 3px solid dodgerblue;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
        color: #fff;
        font-weight: bold;
        display: inline-block;
        font-weight: 700px;
        padding: 10px 20px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: .3s;
        border-radius: 24px;
        line-height: 5px;

        cursor: pointer;
    }
    
    .QA_create:hover {
        background-color: #fff;
        color: dodgerblue;
    }

    .serch_area {
        padding-top: 2%;
    }

    .form-inline {
        display: flex;
    }

    .form-group {
        height: 30px;
    }

    .form-control {
        height: 30px;
    }

    .serch_btn {
        background-color: rgb(25, 122, 108);
        border: 3px solid rgb(25, 122, 108);
        box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
        color: #fff;
        width: 40px;
        margin-left: 10px;

        cursor: pointer;
    }

    .serch_result {
        padding-top: 2%;
    }

    .pagination {
        display: flex;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
