.pagetitle{
    padding-top: 180px;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    padding-bottom: 50px;
    }
    
.pagetitle::after {
    content: '';
    display: block;
    width: 76px;
    height: 3px;
    background-color: #f4dd64;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    }

    .container{
        max-width: 960px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }