

.open {
    cursor: pointer; /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
    width: 100%;
}

#pop-up {
    display: none; /* label でコントロールするので input は非表示に */
}

#pop-up-post {
    display: none; /* label でコントロールするので input は非表示に */
}

.overlay {
    display: none; /* input にチェックが入るまでは非表示に */
}

#pop-up:checked + .overlay {
    display: block;
    z-index: 9999;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

#pop-up-post:active + .overlay {
    display: block;
    z-index: 9999;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.window {
    width: 90vw;
    max-width: 380px;
    height: 240px;
    background-color: #ffffff;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    font-size: 18px;
    margin: 0;

}

.close {
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 20px;
}
/*
.kakunin_item {
    list-style: none;
    display: inline-block;
    padding: 10px;

}

.kyanseru_item {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

*/

hr {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    height: 8px;
    background-image: repeating-linear-gradient(45deg, #ccc 0, #ccc 1px, transparent 0, transparent 50%);
    background-size: 8px 8px;
}

a.check {
    text-decoration: none;
    color:#ffffff;
}

.kakunin_item {
    display: inline-block;
    padding: 12px 24px;
    font-weight: bold;
    border-radius: 4px;
    background-color: #0f8cff;
    box-shadow: 0px 2px 2px 1px #dcdcdc;
    border-bottom: solid 5px #0c579d;
    text-decoration: none;
    color: #fff;
}

.kakunin_item:active {
    box-shadow: none;
    position: relative;
    border-bottom: none;
    top: 7px;
}

.kyanseru_item {
    display: inline-block;
    padding: 12px 24px;
    font-weight: bold;
    border-radius: 4px;
    background-color: #9eaab6;
    box-shadow: 0px 2px 2px 1px #dcdcdc;
    border-bottom: solid 5px #778899;
    text-decoration: none;
    color: #fff;
}

.kyanseru_item:active {
    box-shadow: none;
    position: relative;
    border-bottom: none;
    top: 7px;
}

/*
h1 {
    border: double;
}
*/

/* #pop-up-post:checked + .overlay {
    display: block;
    z-index: 9999;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
} */



