@charset "utf-8";

/* .title {
    height: 160px;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    color: #f4dd64;
    text-shadow: 1px 1px 10px #4b2c14;
}

.title h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.title p {
    font-size: 14px;
    margin-top: 15px;
} */

.main h2 {
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
}

.main h2::after {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background-color: #000000;
    margin-top: 20px;
}

.pagetitle{
    padding-top: 70px;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
}

.pagetitle::after {
    content: '';
    display: block;
    width: 76px;
    height: 3px;
    background-color: #f4dd64;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.pagesubtitle {
    padding-top: 20px;
    text-align: center;
    color: #aaaaaa;
}

.pagesubtitle2 {
    padding-top: 7px;
    text-align: center;
    color: #aaaaaa;
}

.account {
    width: 930px;
    max-width: 90%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}

.form-area {
    background-color: #f8f8f8;
    border: 1px solid #aaaaaa;
    margin-top: 25px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

.form-area dt {
    width: 200px;
    padding: 15px 0;
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
}

.form-area dt .required::after {
    content: '必須';
    font-size: 11px;
    color: #eb4f32;
    margin-left: 10px;
}

.form-area dd {
    width: calc(100% - 200px); /* 全体から200pxを引いたdd幅 */
    padding: 15px 0;
}

.input-text {
    width: 100%;
    max-width: 280px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.confirm-text {
    font-size: 14px;
    line-height: 22px;
    margin-top: 30px;
}

.btn {
    text-align: right;
}

#kiyaku {
    color: #58bff6;
    text-decoration: underline;
}

.submit-button {
    background-color: #f4dd64;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    min-width: 230px;
    line-height: 48px;
    border-radius: 24px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    cursor: pointer; /* マウスポインタの形状を指定 */
    border: none;
}

.submit-button:hover {
    background-color: #d8b500;
}

/* .footer {
    margin-top: 100px;
} */

/* ここからレスポンシブデザイン */
@media (max-width: 800px) {
    .map,
    .contact {
        width: 500px;
        margin-top: 45px;
    }

    .form-area dt,
    .form-area dd {
        width: 100%;
    }

    .form-area dt {
        padding-bottom: 0;
    }

    .submit-button {
        width: 100%;
    }
}