@charset "utf-8";

.pagetitle{
    padding-top: 60px;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    padding-bottom: 50px;
    }
    
.pagetitle::after {
    content: '';
    display: block;
    width: 76px;
    height: 3px;
    background-color: #f4dd64;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    }

div.card-text{/*全体的に中央に*/
    width: 80%;
    margin: 0 auto;
    padding-left: 3em;
    max-width: 700px;
}

dt.item{/*項目*/
    
    float: left;
    clear: left;
    margin-right: 0em;
    width: 170px;
    padding: 14.8px;
    font-size: 15px;
    font-weight: bold;
    border-bottom: solid 1px gray;
    
}

dd.input-item{ /*入力文字*/
    float: left;
    width: calc(100% - 170px);
    padding: 15px;
    padding-left: 5em;
    margin-right: 0em;
    display: flex;
    text-align: right;
    margin-left: 0em;
    border-bottom: solid 1px gray;
}

.btn {
    text-align: right;
}

/* .submit-button {
    background-color: #f4dd64;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    min-width: 230px;
    line-height: 48px;
    border-radius: 24px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    cursor: pointer; /* マウスポインタの形状を指定 
    border: none;

}

.submit-button:hover {
    background-color: #d8b500;
} */

.submit-button {
    background-color: #f4dd64;
    border: 3px solid #f4dd64;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    color: #fff;
    display: inline-block;
    width: 150px;
    font-weight: 700;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    border-radius: 24px;
    transition: .3s;
    line-height: 25px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 40px;
    min-width: 200px;
}

.submit-button:hover {
    background-color: #fff;
    color: #f4dd64;
}

/*ボタンのデザイン*/
button.btn1{
    margin: 0 auto;
    width: 10em;
    padding: 1em 2em;
    font-size: 15px;
    font-weight: 600;
    background-color: #f2ce1b;
    color: #fff; 
}

button.btn1:hover {
    color: #fff;
    background: #f4dd64;
  }

button.btn2{
    margin: 0 auto;
    padding: 1em 2em;
    
    
    font-size: 15px;
    font-weight: 600;
    background-color: #f2ce1b;
    color: #fff;
    
}

button.btn2:hover {
    color: #fff;
    background: #f4dd64;
    
  }

  button {
    font-size: inherit;
  }