/*リセットCSS*/
*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol { /*リスト行頭のアイコンを非表示*/
    list-style: none;
}

a { /*リンクの文字色と下線を無くす*/
    color: inherit;
    text-decoration: none;
}

.home-img {
    max-width: 100%; /*img要素の最大値*/
    /* width: 350px; */
    height: 175px; 
    object-fit: cover;
    /* max-width: 100%;  */
/* height: auto; */
} 

body {
    font-family: sans-serif; /*サンセリフ体*/
    /* font-size: 16px; */
    color: #000000;
    line-height: 1;
    background-color: #ffffff;
    /* padding-top: 110px; */
}


/* header {
    background: #ffffff; /* 背景色にグレーを指定 
    position: fixed; /* ウィンドウを基準に画面に固定 
    top: 0; /* 上下の固定位置を上から0pxにする 
    left: 0; /* 左右の固定位置を左から0pxにする 
    right: 0; /* 左右の固定位置を右から0pxにする 
    z-index: 9999;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
} 

.header-inner {
    max-width: 1500px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px; /*ヘッダーエリアの左右の余白指定
    padding-right: 30px;
    display: flex; /*ロゴとナビゲーションを横並びにする
    justify-content: space-between; /*ロゴとナビゲーションを左右の端に寄せる
    align-items: center; /*ロゴとナビゲーションの上下の高さを揃える
}

.toggle-menu-button {
    display: none;
}

.header-logo {
    display: block; /*ロゴのサイズ指定をできるように
    width: 170px;
}

.site-menu ul {
    display: flex; /*ナビゲーション項目を横並びにする
    padding-left: 750px;
}

.site-menu ul li { /*ナビゲーションの項目間の余白を設定
    margin-left: 15px;
    margin-right: 15px;
}

.site-menu ul li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 45.5px;
}

#navline {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

#navline::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 3px;
    background: #ee7800;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s;
}

#navline:hover::after {
    transform: scale(1, 1);
} */



/* ログイン・お問い合わせボタンのデザイン
.styled-button {
    /* background-color: #1492AF;
    border: 3px solid #1492AF; 
    background-color: #f4dd64;
    border: 3px solid #f4dd64;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    color: #fff;
    display: inline-block;
    font-weight: 700;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: .3s;
}

.styled-button:hover {
    background-color: #fff;
    /* color: #1492AF; 
    color: #f4dd64;
} */

/*kokomade*/

.pagetitle{
padding-top: 60px;
font-size: 25px;
font-weight: bold;
line-height: 30px;
text-align: center;
}

.pagetitle::after {
content: '';
display: block;
width: 76px;
height: 3px;
background-color: #f4dd64;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
}

.item-list {
width: 930px;
max-width: 90%;
margin-top: 75px;
margin-left: auto;
margin-right: auto;
margin-bottom: 40px;
display: grid; /* グリッドの大枠を作成 */
grid-template-columns: repeat(auto-fit, 240px); /* 240pxの列を自動折返しで */
column-gap: 95px; /* 左右間隔を95px */
row-gap: 70px; /* 上下間隔を70px */
justify-content: center; /* アイテムの左右揃えを指定 */
}

/* #app ul img {
width: 350px;
 height: 175px; 
object-fit: cover;
 max-width: 100%; 
height: auto;
} */

.item-list dl {
margin-top: 20px;
}

.item-list dt {
font-weight: bold;
}

.item-list dd {
font-size: 13px;
line-height: 20px;
margin-top: 15px;
}

.item-list li {
position: relative;
}

.item-list .item-label {
position: absolute;
top: 0;
left: calc(100% + 18px);
font-size: 10px;
white-space: nowrap;
transform-origin: top left;
transform: rotate(90deg);
}


@media (max-width: 800px) {
.item-list {
margin-top: 45px;
row-gap: 40px;
}
}

/* ヘッダーの調整コード */
.site-menu ul li {
    margin-top: 19px;
  }
  
  button {
    font-size: inherit;
  }
  
  .dropdown__list { /* デフォルトスタイル リセット */
    margin-top: -19px;
  }