<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="register_conf_test.css">
</head>

<body>
    <p class="title">アカウント情報の確認</p>
<div class="card-text">
    <dl>
    <form method="POST" action="{{ route('user.resister_resister') }}">
        <div class="md-form">
            <label for="user_name" class="s"><dt class="item"><span>氏名</span></dt></label>
            <dd class="input-item">サトシ</dd>
            <input class="form-control" type="hidden" id="user_name" name="user_name"  value="{{ $input["user_name"] }}">
        </div>

        <div class="md-form">
            <label for="user_name_kana"><dt class="item"><span>氏名(かな)</span></dt></label>
            <dd class="input-item">さとし</dd>
            <input class="form-control" type="hidden" id="user_name_kana" name="user_name_kana"  value="{{ $input["user_name_kana"] }}">
        </div>

        <div class="md-form">
            <label for="user_screen_name"><dt class="item"><span>ユーザネーム</span></dt></label>
            <dd class="input-item">ポケモンマスター</dd>
            <input class="form-control" type="hidden" id="user_screen_name" name="user_screen_name"  value="{{ $input["user_screen_name"] }}">
        </div>

        <div class="md-form">
            <label for="user_gen"><dt class="item"><span>性別</span></dt></label>
            <dd class="input-item">男</dd>
            <input class="form-control" type="hidden" id="user_gen" name="user_gen"  value="{{ $input["user_gen"] }}">
        </div>

        <div class="md-form">
            <label for="birth"><dt class="item"><span>生年月日</span></dt></label>
            <dd class="input-item">1997/10/10</dd>
            <input class="form-control" type="hidden" id="year" name="year"  value="{{ $input["year"] }}">
            <input class="form-control" type="hidden" id="month" name="month"  value="{{ $input["month"] }}">
            <input class="form-control" type="hidden" id="date" name="date"  value="{{ $input["date"] }}">
        </div>

        <div class="md-form">
            <label for="user_pre"><dt class="item"><span>住所（都道府県）</span></dt></label>
            <dd class="input-item">カント―地方</dd>
            <input class="form-control" type="hidden" id="user_pre" name="user_pre"  value="{{ $input["user_pre"] }}">
        </div>

        <div class="md-form">
            <label for="user_city"><dt class="item"><span>住所（市区町村）</span></dt></label>
            <dd class="input-item">マサラタウン</dd>
            <input class="form-control" type="hidden" id="user_city" name="user_city"  value="{{ $input["user_city"] }}">
        </div>

        <div class="md-form">
            <label for="user_tell"><dt class="item"><span>電話番号</span></dt></label>
            <dd class="input-item">0120049725</dd>
            <input class="form-control" type="hidden" id="user_tell" name="user_tell"  value="{{ $input["user_tell"] }}">
        </div>

        <div class="md-form">
            <label for="name"><dt class="item"><span>メールアドレス</span></dt></label>
            <dd class="input-item">pokemon@nintendo.com</dd>
            <input class="form-control" type="hidden" id="email" name="email"  value="{{ $input["email"] }}">
        </div>

        <div class="md-form">
            <label for="password"><dt class="item"><span>パスワード</span></dt></label>
            <dd class="input-item">12345678</dd>
            <input class="form-control" type="hidden" id="password" name="password"  value="{{ $input["password"] }}" required autocomplete="new-password">
        </div>

        <div class="md-form">
            <label for="password-confirm"></label>
            <input id="password-confirm" type="hidden" class="form-control input-text" name="password_confirmation" value="{{ $input["password_confirmation"] }}" required autocomplete="new-password">
        </div>
        <div class="btn">
            <button class="submit-button" type="submit" name="back">修正</button>
            <button class="submit-button" type="submit" name="back">アカウント作成</button>
        </div>
        
    </form>
    </dl>
</div>
</body>
</html>